body {
  background-color: #e5e5e5;
}

#content {
  padding: 10px 20px 20px 20px;
  background-color: #fff;
  border: solid 1px #ddd;
}

.nav-list {
  font-size: 12px;
  background: #fff;
  border: solid 1px #ddd;
}

.nav-list-header {
  background-color: #333;
  margin: 0px -15px 10px -15px;
  padding: 7px;
  border: solid 1px black;
  color: #aaa;
  font-size: 14px;
}

.breadcrumb {
  background-color: #333;
  margin: -10px -20px 10px -20px;
  border-radius: 0px;
  border: solid 1px black;
  border-bottom: 0px;
}

.breadcrumb > li {
  text-shadow: 0px 1px 0px #000;
}

.subbreadcrumb {
  background-color: #999;
  font-size: 11px;
  text-transform: uppercase;
  border: solid 1px #888;
  border-bottom: 0px;
  padding: 2px 15px 2px 15px;
  margin-bottom: 20px;
}

.subbreadcrumb > li {
  text-shadow: 0px 1px 0px #aaa;
  color: #eee;
}

.subbreadcrumb > li a, .subbreadcrumb > li input {
  color: #eee;
}

.subbreadcrumb > li input {
  padding: 0px;
  border: 0px;
  background: none;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: none;
}

.subbreadcrumb > li input:hover {
  color: #eee;
}

.subbreadcrumb > li > .divider {
  margin: 0px 10px 0px 10px;
}

div.icone {
    height: 55px;
    width: 85px;
    text-align: center;
    float: left;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
    border: solid 1px #fff;
    font-size: 10px;
    text-transform: uppercase;
}
div.icone:hover {
    background: #eee;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
div.icone a {
    color: #444;
}
div.icone a img {
    border: 0px;
    margin-bottom: 3px;
}


/* CSS pour la pagination */
.pager, .pager-top, .pager-bottom {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pager-top {
    border-bottom: solid 5px #e5e5e5;
}
.pager-bottom {
    border-top: solid 5px #e5e5e5;
}
.pager span {
    margin-right: 5px;
    margin-left: 5px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.pager span a {
    text-decoration: none;
    color: #666;
}
.pager .current {
    background: #e8e8e8;
    color: #ccc;
}
.pager .page {
    background: #eee;
}
.pager .page a:hover {
    color: #507aaa;
}




.ui-datepicker {
	display: none;
	background-color: #fff;
	padding: 10px;
	border: solid 1px #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}
.ui-datepicker-prev, .ui-datepicker-next {
	font-size: 11px;
}
.ui-datepicker-prev {
	margin-right: 105px;
}
.ui-datepicker-next {
	margin-left: 105px;
}
.ui-datepicker-title {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
}
.ui-datepicker table tr td {
}
.ui-datepicker table tr td a {
	display: block;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: solid 1px #ddd;
	background-color: #fafafa;
	color: #777;
}
.ui-datepicker table tr td a:hover {
	border: solid 1px #aaa;
	background-color: #333;
	color: #fafafa;
}


