body {
    margin: 0px;
    background: #f0f0f0;
    font-family: Lucida Sans;
    font-size: 12px;
}

h1 {
    margin: 0px 0px 0px 10px;
    color: #eee;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
}

h2 {
    background-color: #222;
    background: -moz-linear-gradient(top, #555 0%, #000 100%);
    background: -webkit-linear-gradient(top, #555 0%, #000 100%);
    color: #eee;
    border: solid 1px #444;
    border-radius: 5px 5px 0px 0px;
    margin: -10px -20px 20px -20px;;
    padding: 5px 10px 7px 10px;
    font-size: 11px;
    text-transform: uppercase;
}

a {
    color: #166bcc;
    text-decoration: none;
}

img {
    border: 0px;
}

#header {
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
    background-color: #222;
    background: -moz-linear-gradient(top, #555 0%, #000 100%);
    background: -webkit-linear-gradient(top, #555 0%, #000 100%);
}

#subHeader {
    color: #777;
    font-size: 12px;
    margin: auto auto;
    text-align: right;
    position: absolute;
    right: 30px;
    top: 10px;
}
#subHeader a {
    color: #ddd;
    margin-right: 10px;
    margin-left: 10px;
}
#subHeader a:hover {
    color: #fff;
}

#body {
    width: 1200px;
    margin: auto auto;
}

#navigation {
    width: 170px;
    margin-right: 20px;
    padding: 0px 20px 20px 20px;
    float: left;
    border: solid 1px #ddd;
    background: #fff;
}
/*#navigation h2 {
    font-size: 12px;
    margin-left: -20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #ddd;
    padding: 10px;
}*/
#navigation h3 {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    border-bottom: solid 1px #ddd;
}
#navigation ul {
    list-style-type: none;
}
#navigation ul li {
    margin-left: -30px;
    font-size: 11px;
}
.subnavigation {
    width: 100%;
    background-color: #f0f0f0;
    border: solid 1px #d0d0d0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subnavigation span {
    padding: 15px;
}
#content{
    min-height: 500px;
    border: solid 1px #ddd;
    padding: 0px 20px 20px 20px;
    margin-left: 230px;
    background: #fff;
}
/*#content h2 {
    font-size: 12px;
    margin-left: -20px;
    margin-bottom: 20px;
    margin-top: 0px;
    background: #ddd;
    padding: 10px;
    text-transform: uppercase;
}*/

/*#modalPopup h2 {
    font-size: 12px;
    margin-left: -20px;
    margin-bottom: 20px;
    margin-top: 0px;
    background: #ddd;
    padding: 10px;
    text-transform: uppercase;
}*/

/* Icones */
div.icone {
    height: 55px;
    width: 85px;
    text-align: center;
    float: left;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ccc;
    border: solid 1px #fff;
    font-size: 10px;
    text-transform: uppercase;
}
div.icone:hover {
    background: #eee;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
div.icone a {
    color: #444;
}
div.icone a img {
    border: 0px;
    margin-bottom: 3px;
}

/* CSS pour les messages flash */
.flashbox {
    border: solid 2px black;
    padding: 10px;
    margin-bottom: 20px;
}
.success {
    border-color: #6cba5a;
    background-color: #eef8ed;
    color: #428537;
}
.info {
    border-color: #4a79b2;
    background-color: #e0ebf2;
    color: #2c436b;
}
.warning {
    border-color: #b5a84d;
    background-color: #f1f4e4;
    color: #6f6d2e;
}
.error , .error_list{
    border-color: #b24a4a;
    background-color: #f2e3e0;
    color: #6b2e2c;
}

/* CSS pour les formulaires */

.tableheader{
    background-color:#000000;
    color:#FFFFFF;
    padding: 5px;
    border: 1px #FFFFFF;
}

.tablecontent{
    background-color:#fff695;
    color:#000000;
    padding: 5px;
    border: thin;
    border-color:#666666;
}

.table {
    padding: 0px;
    margin: 20px 0px 20px 0px;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #e0e0e0;
    border-bottom: 0px;
}
.table th {
    background: #f0f0f0;
    text-align: left;
}
.table tr {
    border-bottom: solid 1px #e5e5e5;
}
.table tbody tr:hover {
    background: #ffffe5;
}
.table th,.table td {
    height: 30px;
    padding: 10px;
}

/* Bouton CSS */ 
.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.button:active {
    color: #000;
    border-color: #444;
}
.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
.middle:hover, a.right:hover { border-left: solid 1px #999 } a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
.small {
    font-size: 10px;
    padding: 2px 3px;
}
.big {
    font-size: 16px;
    padding: 10px 15px;
}
.supersize {
    font-size: 20px;
    padding: 15px 20px;
}
.save {
    background: url(img/backend/sprite.png) 10px 7px no-repeat;
    padding-left: 30px;
}
.add {
    background: url(img/backend/sprite.png) 10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}
.delete {
    background: url(img/backend/sprite.png) 10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
.flag {
    background: url(img/backend/sprite.png) 10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}
.up {
    background: url(img/backend/sprite.png) 13px -133px no-repeat #f3f3f3;
    width: 18px;
}
.down {
    background: url(img/backend/sprite.png) 13px -168px no-repeat #f3f3f3;
    width: 18px;
}
.save-small {
    background: url(img/backend/sprite.png) 5px 5px no-repeat;
    font-size: 10px;
    padding: 8px 3px 8px 20px;
}
.save-big {
    background: url(img/backend/sprite.png) 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.add-big {
    background: url(img/backend/sprite.png) 15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.delete-big {
    background: url(img/backend/sprite.png) 15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.flag-big {
    background: url(img/backend/sprite.png) 15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.up-big {
    background: url(img/backend/sprite.png) 15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
.down-big {
    background: url(img/backend/sprite.png) 15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
/*
.button, input[type=submit] {
    background: #ddd;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: #333;
    text-decoration: none;
    font-family: Lucida Sans;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
    border: 1px solid #666;
    position: relative;
    cursor: pointer;
}
.button:hover, input[type=submit]:hover {
    background: #333;
    color: #eee;
}
/**********/

.inactive{
  background: #e9e9e9;
  color:#aaa;
}

.checksuccess{
    font-weight: bolder;
    font-family: 'arial black';
    background-color: green;
    color: white;
    padding: 5px;
    margin: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.checkfail{    
    font-weight: bolder;
    font-family: 'arial black';
    background-color: red;
    color: white;
    padding: 5px;
    margin: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* CSS pour la pagination */
.pager, .pager-top, .pager-bottom {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pager-top {
    border-bottom: solid 5px #e5e5e5;
}
.pager-bottom {
    border-top: solid 5px #e5e5e5;
}
.pager span {
    margin-right: 5px;
    margin-left: 5px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.pager span a {
    text-decoration: none;
    color: #666;
}
.pager .current {
    background: #e8e8e8;
    color: #ccc;
}
.pager .page {
    background: #eee;
}
.pager .page a:hover {
    color: #507aaa;
}




.ui-datepicker {
	display: none;
	background-color: #fff;
	padding: 10px;
	border: solid 1px #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}
.ui-datepicker-prev, .ui-datepicker-next {
	font-size: 11px;
}
.ui-datepicker-prev {
	margin-right: 105px;
}
.ui-datepicker-next {
	margin-left: 105px;
}
.ui-datepicker-title {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
}
.ui-datepicker table tr td {
}
.ui-datepicker table tr td a {
	display: block;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: solid 1px #ddd;
	background-color: #fafafa;
	color: #777;
}
.ui-datepicker table tr td a:hover {
	border: solid 1px #aaa;
	background-color: #333;
	color: #fafafa;
}


